{"swagger":"2.0","info":{"title":"IBM Alchemy Data News","version":"1.0","description":"Alchemy Data News provides news and blog content enriched with natural language processing to allow for highly targeted search and trend analysis. Now you can query the world's news sources and blogs like a database.","x-tags":["News","Natural Language Processing","Blogs"],"contact":{"url":"https://support.ng.bluemix.net/supportticket/"}},"externalDocs":{"url":"https://www.ibm.com/watson/developercloud/alchemydata-news/api/v1/"},"host":"gateway-a.watsonplatform.net","schemes":["https"],"basePath":"/calls","paths":{"/data/GetNews":{"get":{"tags":["News"],"summary":"Analyze news","description":"Analyze news using Natural Language Processing (NLP) queries and sophisticated filters.","operationId":"GetNews","produces":["application/json","application/xml"],"parameters":[{"in":"query","description":"API key (optional in the API explorer)","name":"apikey","required":true,"type":"string"},{"in":"query","description":"Output mode","name":"outputMode","type":"string","enum":["xml","json"],"default":"json"},{"in":"query","description":"Start date","name":"start","required":true,"type":"string","default":"now-1d"},{"in":"query","description":"End date","name":"end","required":true,"type":"string","default":"now"},{"in":"query","description":"Maximum results","name":"maxResults","default":10,"type":"integer"},{"in":"query","description":"Time slice","name":"timeSlice","type":"string"},{"in":"query","description":"Fields to return for each document (comma separated). e.g. enriched.url.title,enriched.url.author,enriched.url.keywords","name":"return","type":"string","collectionFormat":"csv"},{"in":"query","description":"Example filter query parameter (title relations)","name":"q.enriched.url.enrichedTitle.relations.relation","type":"string"},{"in":"query","description":"Example filter query parameter (title entity)","name":"q.enriched.url.enrichedTitle.entities.entity","type":"string"},{"in":"query","description":"Example filter query parameter (title taxonomy)","name":"q.enriched.url.enrichedTitle.taxonomy.taxonomy_","type":"string"},{"in":"query","description":"Example filter query parameter (sentiment)","name":"q.enriched.url.enrichedTitle.docSentiment.type","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewsResponse"}}},"x-apih-advice":{"totalUsageCount":26,"topQueryParams":[{"paramName":"apikey","paramValues":[{"value":"<Hiding desensitized value>","count":3,"source":["https://github.com/cmoulika009/ASE-Lab-Assignments/blob/9e0731d8dde2fd5b7b3145ce25e7d598f8903903/Lab-3-Mashup%20Application/Source/js/app.js#L222","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/324ade52edd760d697ed597936265781412285f3/Lab-9-Cloud-Based-App-II/Source/Cloud%20App/js/app.js#L222","https://github.com/ljm7b2/advSftwrEngnrTest/blob/dedd1afd4f0ddd52b9d1b94f8dce2cb0d5533de7/Source/LAB_5_MASHUP_SOURCE_CODE/lab_5_API_alchemyNEWS_SPOTIFY_playlists/app.js#L221"]},{"value":"<Hiding desensitized value>","count":2,"source":["https://github.com/sickle5stone/FishyBusiness/blob/230dd18dfdb1a167c3ab39390fc87374dd67d9c0/js/news.js#L64","https://github.com/kongyujian/Fishackathon2016_Geospatial/blob/3eba2dd89c82761b7b11d32dc3b5817727ec7d27/js/news.js#L64"]},{"value":"<Hiding desensitized value>","count":2,"source":["https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414"]},{"value":"<Hiding desensitized value>","count":2,"source":["https://github.com/wjohnson1000/Frontend_Personal_Project/blob/fd1244fae8a9932819ed287c6f53611b1acd6158/source/scripts/main.js#L52","https://github.com/wjohnson1000/wjohnson1000.github.io/blob/cb99bea35ebb38d6a246fd1da701d83550d769a5/scripts/main.js#L56"]}],"bestSources":null,"count":10},{"paramName":"end","paramValues":[{"value":"now","count":10,"source":["https://github.com/sickle5stone/FishyBusiness/blob/230dd18dfdb1a167c3ab39390fc87374dd67d9c0/js/news.js#L64","https://github.com/wjohnson1000/Frontend_Personal_Project/blob/fd1244fae8a9932819ed287c6f53611b1acd6158/source/scripts/main.js#L52","https://github.com/alexbtk/amos-ss16-proj9/blob/d667a46692f0ea440696a60d6212582f1352006d/src/main/webapp/js/AMOSAlchemy.js#L26","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/9e0731d8dde2fd5b7b3145ce25e7d598f8903903/Lab-3-Mashup%20Application/Source/js/app.js#L222","https://github.com/kongyujian/Fishackathon2016_Geospatial/blob/3eba2dd89c82761b7b11d32dc3b5817727ec7d27/js/news.js#L64","https://github.com/wjohnson1000/wjohnson1000.github.io/blob/cb99bea35ebb38d6a246fd1da701d83550d769a5/scripts/main.js#L56","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/324ade52edd760d697ed597936265781412285f3/Lab-9-Cloud-Based-App-II/Source/Cloud%20App/js/app.js#L222","https://github.com/ljm7b2/advSftwrEngnrTest/blob/dedd1afd4f0ddd52b9d1b94f8dce2cb0d5533de7/Source/LAB_5_MASHUP_SOURCE_CODE/lab_5_API_alchemyNEWS_SPOTIFY_playlists/app.js#L221","https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414"]}],"bestSources":[{"url":"https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","sourceId":2},{"url":"https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414","sourceId":3}],"count":10},{"paramName":"outputMode","paramValues":[{"value":"json","count":10,"source":["https://github.com/sickle5stone/FishyBusiness/blob/230dd18dfdb1a167c3ab39390fc87374dd67d9c0/js/news.js#L64","https://github.com/wjohnson1000/Frontend_Personal_Project/blob/fd1244fae8a9932819ed287c6f53611b1acd6158/source/scripts/main.js#L52","https://github.com/alexbtk/amos-ss16-proj9/blob/d667a46692f0ea440696a60d6212582f1352006d/src/main/webapp/js/AMOSAlchemy.js#L26","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/9e0731d8dde2fd5b7b3145ce25e7d598f8903903/Lab-3-Mashup%20Application/Source/js/app.js#L222","https://github.com/kongyujian/Fishackathon2016_Geospatial/blob/3eba2dd89c82761b7b11d32dc3b5817727ec7d27/js/news.js#L64","https://github.com/wjohnson1000/wjohnson1000.github.io/blob/cb99bea35ebb38d6a246fd1da701d83550d769a5/scripts/main.js#L56","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/324ade52edd760d697ed597936265781412285f3/Lab-9-Cloud-Based-App-II/Source/Cloud%20App/js/app.js#L222","https://github.com/ljm7b2/advSftwrEngnrTest/blob/dedd1afd4f0ddd52b9d1b94f8dce2cb0d5533de7/Source/LAB_5_MASHUP_SOURCE_CODE/lab_5_API_alchemyNEWS_SPOTIFY_playlists/app.js#L221","https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414"]}],"bestSources":[{"url":"https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","sourceId":2},{"url":"https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414","sourceId":3}],"count":10},{"paramName":"return","paramValues":[{"value":"enriched.url.url,enriched.url.title","count":7,"source":["https://github.com/wjohnson1000/Frontend_Personal_Project/blob/fd1244fae8a9932819ed287c6f53611b1acd6158/source/scripts/main.js#L52","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/9e0731d8dde2fd5b7b3145ce25e7d598f8903903/Lab-3-Mashup%20Application/Source/js/app.js#L222","https://github.com/wjohnson1000/wjohnson1000.github.io/blob/cb99bea35ebb38d6a246fd1da701d83550d769a5/scripts/main.js#L56","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/324ade52edd760d697ed597936265781412285f3/Lab-9-Cloud-Based-App-II/Source/Cloud%20App/js/app.js#L222","https://github.com/ljm7b2/advSftwrEngnrTest/blob/dedd1afd4f0ddd52b9d1b94f8dce2cb0d5533de7/Source/LAB_5_MASHUP_SOURCE_CODE/lab_5_API_alchemyNEWS_SPOTIFY_playlists/app.js#L221","https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414"]},{"value":"enriched.url.url,enriched.url.title,enriched.url.text","count":2,"source":["https://github.com/sickle5stone/FishyBusiness/blob/230dd18dfdb1a167c3ab39390fc87374dd67d9c0/js/news.js#L64","https://github.com/kongyujian/Fishackathon2016_Geospatial/blob/3eba2dd89c82761b7b11d32dc3b5817727ec7d27/js/news.js#L64"]},{"value":"q.enriched.url.title,q.enriched.url.entities","count":1,"source":["https://github.com/alexbtk/amos-ss16-proj9/blob/d667a46692f0ea440696a60d6212582f1352006d/src/main/webapp/js/AMOSAlchemy.js#L26"]}],"bestSources":null,"count":10},{"paramName":"start","paramValues":[{"value":"now-1d","count":5,"source":["https://github.com/wjohnson1000/Frontend_Personal_Project/blob/fd1244fae8a9932819ed287c6f53611b1acd6158/source/scripts/main.js#L52","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/9e0731d8dde2fd5b7b3145ce25e7d598f8903903/Lab-3-Mashup%20Application/Source/js/app.js#L222","https://github.com/wjohnson1000/wjohnson1000.github.io/blob/cb99bea35ebb38d6a246fd1da701d83550d769a5/scripts/main.js#L56","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/324ade52edd760d697ed597936265781412285f3/Lab-9-Cloud-Based-App-II/Source/Cloud%20App/js/app.js#L222","https://github.com/ljm7b2/advSftwrEngnrTest/blob/dedd1afd4f0ddd52b9d1b94f8dce2cb0d5533de7/Source/LAB_5_MASHUP_SOURCE_CODE/lab_5_API_alchemyNEWS_SPOTIFY_playlists/app.js#L221"]},{"value":"now-3.0d","count":2,"source":["https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414"]},{"value":"now-7d","count":2,"source":["https://github.com/sickle5stone/FishyBusiness/blob/230dd18dfdb1a167c3ab39390fc87374dd67d9c0/js/news.js#L64","https://github.com/kongyujian/Fishackathon2016_Geospatial/blob/3eba2dd89c82761b7b11d32dc3b5817727ec7d27/js/news.js#L64"]},{"value":"now-3d","count":1,"source":["https://github.com/alexbtk/amos-ss16-proj9/blob/d667a46692f0ea440696a60d6212582f1352006d/src/main/webapp/js/AMOSAlchemy.js#L26"]}],"bestSources":null,"count":10},{"paramName":"count","paramValues":[{"value":"5","count":9,"source":["https://github.com/sickle5stone/FishyBusiness/blob/230dd18dfdb1a167c3ab39390fc87374dd67d9c0/js/news.js#L64","https://github.com/wjohnson1000/Frontend_Personal_Project/blob/fd1244fae8a9932819ed287c6f53611b1acd6158/source/scripts/main.js#L52","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/9e0731d8dde2fd5b7b3145ce25e7d598f8903903/Lab-3-Mashup%20Application/Source/js/app.js#L222","https://github.com/kongyujian/Fishackathon2016_Geospatial/blob/3eba2dd89c82761b7b11d32dc3b5817727ec7d27/js/news.js#L64","https://github.com/wjohnson1000/wjohnson1000.github.io/blob/cb99bea35ebb38d6a246fd1da701d83550d769a5/scripts/main.js#L56","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/324ade52edd760d697ed597936265781412285f3/Lab-9-Cloud-Based-App-II/Source/Cloud%20App/js/app.js#L222","https://github.com/ljm7b2/advSftwrEngnrTest/blob/dedd1afd4f0ddd52b9d1b94f8dce2cb0d5533de7/Source/LAB_5_MASHUP_SOURCE_CODE/lab_5_API_alchemyNEWS_SPOTIFY_playlists/app.js#L221","https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414"]}],"bestSources":[{"url":"https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","sourceId":2},{"url":"https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414","sourceId":3}],"count":9},{"paramName":"q.enriched.url.enrichedTitle.keywords.keyword.text","paramValues":[{"value":"{candidateNameArray.0 candidateNameArray.1}","count":2,"source":["https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414"]},{"value":"{newsTopic}","count":2,"source":["https://github.com/wjohnson1000/Frontend_Personal_Project/blob/fd1244fae8a9932819ed287c6f53611b1acd6158/source/scripts/main.js#L52","https://github.com/wjohnson1000/wjohnson1000.github.io/blob/cb99bea35ebb38d6a246fd1da701d83550d769a5/scripts/main.js#L56"]}],"bestSources":null,"count":7},{"paramName":"q.enriched.url.title","paramValues":[{"value":"Asian Carp","count":2,"source":["https://github.com/sickle5stone/FishyBusiness/blob/230dd18dfdb1a167c3ab39390fc87374dd67d9c0/js/news.js#L64","https://github.com/kongyujian/Fishackathon2016_Geospatial/blob/3eba2dd89c82761b7b11d32dc3b5817727ec7d27/js/news.js#L64"]}],"bestSources":null,"count":2}],"topPayloadParams":[{"paramName":"end","paramValues":[{"value":"now","count":1,"source":["https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47"]}],"bestSources":[{"url":"https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47","sourceId":1}],"count":1},{"paramName":"maxResults","paramValues":[{"value":"10","count":1,"source":["https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47"]}],"bestSources":[{"url":"https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47","sourceId":1}],"count":1},{"paramName":"outputMode","paramValues":[{"value":"json","count":1,"source":["https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47"]}],"bestSources":[{"url":"https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47","sourceId":1}],"count":1},{"paramName":"return","paramValues":[{"value":"enriched.url.title,enriched.url.url,enriched.url.author","count":1,"source":["https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47"]}],"bestSources":[{"url":"https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47","sourceId":1}],"count":1},{"paramName":"start","paramValues":[{"value":"now-10d","count":1,"source":["https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47"]}],"bestSources":[{"url":"https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47","sourceId":1}],"count":1}],"topJQueryAjaxParams":null,"topResponseFields":[{"fieldName":"result.docs.length","count":5,"total":26,"bestSources":[{"url":"https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","sourceId":2},{"url":"https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414","sourceId":3}],"source":["https://github.com/cmoulika009/ASE-Lab-Assignments/blob/9e0731d8dde2fd5b7b3145ce25e7d598f8903903/Lab-3-Mashup%20Application/Source/js/app.js#L222","https://github.com/cmoulika009/ASE-Lab-Assignments/blob/324ade52edd760d697ed597936265781412285f3/Lab-9-Cloud-Based-App-II/Source/Cloud%20App/js/app.js#L222","https://github.com/ljm7b2/advSftwrEngnrTest/blob/dedd1afd4f0ddd52b9d1b94f8dce2cb0d5533de7/Source/LAB_5_MASHUP_SOURCE_CODE/lab_5_API_alchemyNEWS_SPOTIFY_playlists/app.js#L221","https://github.com/FlyMoe/Candidus-Informatio/blob/4ecbac214df76e1493cfffc11ba45321a7543b30/assets/javascript/app.js#L414","https://github.com/alexlcortes/another-test-repo/blob/c216a20deeec16d648256197df6bd2033131ffde/assets/javascript/app.js#L414"]},{"fieldName":"result.docs","count":1,"total":26,"bestSources":[{"url":"https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47","sourceId":1}],"source":["https://github.com/sfaries/AlchemyNews/blob/891a9ef358cc76e03d521d1569d5708134171732/js/alchemy.js#L47"]}]}}}},"definitions":{"NewsResponse":{"type":"object","properties":{"status":{"type":"string"},"usage":{"type":"string"},"totalTransactions":{"type":"string"},"result":{"type":"object","properties":{"docs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"source":{"type":"object","properties":{"enriched":{"type":"object","properties":{"url":{"type":"object","properties":{"title":{"type":"string"}},"required":["title"]}},"required":["url"]}},"required":["enriched"]},"timestamp":{"type":"integer"}},"required":["id","source","timestamp"]}},"next":{"type":"string"},"status":{"type":"string"}},"required":["docs","next","status"]}},"required":["status","usage","totalTransactions","result"]}},"x-apih-id":"ibm_watson_alchemy_data_news_api","x-apih-ghusage":{"count":0,"topUsages":[{"repository":"likethecolor/Alchemy-API","repoUrl":"https://github.com/likethecolor/Alchemy-API","description":"Java client for the service provided by AlchemyAPI (a cloud-based text mining platform http://www.alchemyapi.com/)","language":"Java","stargazers":9,"watchers":9,"forks":13,"subscribers":3,"sources":["https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/AbstractParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/RelationsParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/ConceptParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/KeywordParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/TaxonomyParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/TaxonomiesParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/NamedEntityParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/entity/ResponseTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/MicroformatParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/LanguageParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/entity/HeaderAlchemyEntityTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/TitleParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/AuthorParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/5208cfc92a878ceeaff052787af29da92d98db7e/src/test/java/com/likethecolor/alchemy/api/parser/json/SentimentParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/AbstractParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/RelationsParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/KeywordParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/ConceptParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/TaxonomyParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/TaxonomiesParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/NamedEntityParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/entity/ResponseTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/MicroformatParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/LanguageParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/entity/HeaderAlchemyEntityTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/TitleParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/SentimentParserTest.java","https://github.com/likethecolor/Alchemy-API/blob/ee054196b8a00fccd40e18748d9fa71aed540fef/src/test/java/com/likethecolor/alchemy/api/parser/json/AuthorParserTest.java"]},{"repository":"xiagu/plotlines","repoUrl":"https://github.com/xiagu/plotlines","description":"Generate a narrative chart for a well-known book or movie","language":"HTML","stargazers":6,"watchers":6,"forks":2,"subscribers":4,"sources":["https://github.com/xiagu/plotlines/blob/053f60b65e7fb95e701d71d5b61ff5efef2adf2d/data/mock.js"]},{"repository":"zemanel/HNMood","repoUrl":"https://github.com/zemanel/HNMood","description":null,"language":"Python","stargazers":4,"watchers":4,"forks":0,"subscribers":1,"sources":["https://github.com/zemanel/HNMood/blob/bd6d1f230f8a612f665e334cd653afb59bc056b2/docs/alchemy_response.js"]},{"repository":"mollywhitnack/the-daily-feels","repoUrl":"https://github.com/mollywhitnack/the-daily-feels","description":null,"language":"JavaScript","stargazers":2,"watchers":2,"forks":2,"subscribers":4,"sources":["https://github.com/mollywhitnack/the-daily-feels/blob/e5cb50c7ae82e04ab17e529584fb3ad023165c3f/src/api/mockNewsApi.js","https://github.com/mollywhitnack/the-daily-feels/blob/74eb040adddc473d278921b94fbdbb566cd17882/src/api/mockNewsApi.js"]},{"repository":"wjohnson1000/Frontend_Personal_Project","repoUrl":"https://github.com/wjohnson1000/Frontend_Personal_Project","description":"Repo for g15 1st quarter project","language":"JavaScript","stargazers":2,"watchers":2,"forks":0,"subscribers":2,"sources":["https://github.com/wjohnson1000/Frontend_Personal_Project/blob/fd1244fae8a9932819ed287c6f53611b1acd6158/source/scripts/main.js"]},{"repository":"Soaring-Outliers/news_graph","repoUrl":"https://github.com/Soaring-Outliers/news_graph","description":"Graph gathering news","language":"JavaScript","stargazers":1,"watchers":1,"forks":0,"subscribers":1,"sources":["https://github.com/Soaring-Outliers/news_graph/blob/ae7cde461e49b6ee8fe932fcf6c581f3a5574da4/graph/models.py"]},{"repository":"collective/eea.alchemy","repoUrl":"https://github.com/collective/eea.alchemy","description":"Auto-discover geographical coverage, temporal coverage and keywords from documents common metadata (title, description, body, etc).","language":"Python","stargazers":1,"watchers":1,"forks":1,"subscribers":168,"sources":["https://github.com/collective/eea.alchemy/blob/6bf1ac036272423877639414d6e06fc55969d756/eea/alchemy/tests/fake.py","https://github.com/collective/eea.alchemy/blob/25a833a7fa73024ad8cc2dd239b854a702348e59/eea/alchemy/tests/fake.py"]},{"repository":"ErikTillberg/SentimentVsStockPriceAnalyzer","repoUrl":"https://github.com/ErikTillberg/SentimentVsStockPriceAnalyzer","description":"Using Watson's text sentiment analysis to map twitter sentiment against stock prices","language":"Python","stargazers":0,"watchers":0,"forks":0,"subscribers":2,"sources":["https://github.com/ErikTillberg/SentimentVsStockPriceAnalyzer/blob/f7fbb1594bb0ecba9f983664e155c694694d759a/alchemy_sentiment.py","https://github.com/ErikTillberg/SentimentVsStockPriceAnalyzer/blob/79db784d4d5f109c6bf0e4776b4244a2dec5f8a9/alchemy_sentiment.py"]},{"repository":"annaet/spotlight-news","repoUrl":"https://github.com/annaet/spotlight-news","description":null,"language":"JavaScript","stargazers":0,"watchers":0,"forks":0,"subscribers":4,"sources":["https://github.com/annaet/spotlight-news/blob/05d43e011357ee32e87921e54bc9fbb4a4c77066/app/scripts/controllers/dendrogram.js"]},{"repository":"adalrsjr1/www","repoUrl":"https://github.com/adalrsjr1/www","description":null,"language":"PHP","stargazers":0,"watchers":0,"forks":0,"subscribers":1,"sources":["https://github.com/adalrsjr1/www/blob/eaaf400107ba0cd03c678af076e66ec1d98f8326/ccbeu.com/ccbeu-perfil/AppCore.php"]}]},"x-apih-relationships":[{"relatedApiId":"ibm_watson_alchemy_language_api","commonUsages":[{"github_repo_name":"wjohnson1000/Frontend_Personal_Project","stargazers_count":2},{"github_repo_name":"wjohnson1000/wjohnson1000.github.io","stargazers_count":0},{"github_repo_name":"sfaries/AlchemyNews","stargazers_count":0},{"github_repo_name":"sickle5stone/FishyBusiness","stargazers_count":0},{"github_repo_name":"kongyujian/Fishackathon2016_Geospatial","stargazers_count":0},{"github_repo_name":"alexbtk/amos-ss16-proj9","stargazers_count":0},{"github_repo_name":"Liux0047/watsonapp","stargazers_count":0},{"github_repo_name":"ljm7b2/advSftwrEngnrTest","stargazers_count":0},{"github_repo_name":"cmoulika009/ASE-Lab-Assignments","stargazers_count":0},{"github_repo_name":"FlyMoe/Candidus-Informatio","stargazers_count":0},{"github_repo_name":"alexlcortes/another-test-repo","stargazers_count":0}]},{"relatedApiId":"ibm_watson_alchemy_vision_api","commonUsages":[{"github_repo_name":"wjohnson1000/Frontend_Personal_Project","stargazers_count":2},{"github_repo_name":"wjohnson1000/wjohnson1000.github.io","stargazers_count":0},{"github_repo_name":"sfaries/AlchemyNews","stargazers_count":0},{"github_repo_name":"sickle5stone/FishyBusiness","stargazers_count":0},{"github_repo_name":"kongyujian/Fishackathon2016_Geospatial","stargazers_count":0},{"github_repo_name":"alexbtk/amos-ss16-proj9","stargazers_count":0},{"github_repo_name":"Liux0047/watsonapp","stargazers_count":0},{"github_repo_name":"ljm7b2/advSftwrEngnrTest","stargazers_count":0},{"github_repo_name":"cmoulika009/ASE-Lab-Assignments","stargazers_count":0},{"github_repo_name":"FlyMoe/Candidus-Informatio","stargazers_count":0},{"github_repo_name":"alexlcortes/another-test-repo","stargazers_count":0}]},{"relatedApiId":"yahoo_weather_api","commonUsages":[{"github_repo_name":"sickle5stone/FishyBusiness","stargazers_count":0},{"github_repo_name":"kongyujian/Fishackathon2016_Geospatial","stargazers_count":0}]},{"relatedApiId":"google_civic_info_api","commonUsages":[{"github_repo_name":"FlyMoe/Candidus-Informatio","stargazers_count":0},{"github_repo_name":"alexlcortes/another-test-repo","stargazers_count":0}]},{"relatedApiId":"google_civicinfo_api","commonUsages":[{"github_repo_name":"FlyMoe/Candidus-Informatio","stargazers_count":0},{"github_repo_name":"alexlcortes/another-test-repo","stargazers_count":0}]},{"relatedApiId":"google_blogger_api","commonUsages":[{"github_repo_name":"atrijitdasgupta/streetbuzz-investor","stargazers_count":0}]},{"relatedApiId":"amazon_product_advertising_api","commonUsages":[{"github_repo_name":"atrijitdasgupta/streetbuzz-investor","stargazers_count":0}]},{"relatedApiId":"quizlet_api_v2","commonUsages":[{"github_repo_name":"jaxball/hackthenorth16","stargazers_count":0}]}],"x-apih-sdks":[{"name":"rest-api-client","downloads":{"last-day":0,"last-month":100,"last-week":26},"description":"Simple REST client built on the request module","url":"https://www.npmjs.com/package/rest-api-client","repoUrl":"https://github.com/ryanlelek/rest-api-client","language":"JavaScript"},{"language":"JavaScript","description":"Node.js REST API client for Parse.com","url":"https://www.npmjs.com/package/parse-rest-api","name":"parse-rest-api","downloads":{"last-day":0,"last-month":21,"last-week":3}},{"name":"json-rest-api","downloads":{"last-day":0,"last-month":106,"last-week":16},"description":"A simple lightweight REST API that receives and responds to JSON HTTP requests, supports all verbs. Very simple.","url":"https://www.npmjs.com/package/json-rest-api","repoUrl":"git://github.com/stdarg/json-rest-api","language":"JavaScript"},{"name":"pimatic-rest-api","downloads":{"last-day":0,"last-month":120,"last-week":16},"description":"Provides a rest-api for the webinterface.","url":"https://www.npmjs.com/package/pimatic-rest-api","repoUrl":"git://github.com/pimatic/pimatic-rest-api","language":"JavaScript"},{"name":"keystone-rest-api","downloads":{"last-day":1,"last-month":58,"last-week":10},"description":"Creates a powerful Rest API based on Keystone Lists","url":"https://www.npmjs.com/package/keystone-rest-api","repoUrl":"git+https://github.com/sarriaroman/Keystone-Rest-API","language":"JavaScript","license":"ISC"},{"name":"sails-hook-cti-rest-api-responses","downloads":{"last-day":0,"last-month":26,"last-week":6},"description":"REST friendly api responses for sails","url":"https://www.npmjs.com/package/sails-hook-cti-rest-api-responses","repoUrl":"git+https://github.com/CanTireInnovations/sails-hook-cti-rest-api-responses","language":"JavaScript","license":"ISC"},{"name":"ember-cli-rest-api-blueprint","downloads":{"last-day":2,"last-month":274,"last-week":59},"description":"Ember CLI blueprint addon for a DS.RESTAdapter compatible REST API","url":"https://www.npmjs.com/package/ember-cli-rest-api-blueprint","repoUrl":"git://github.com/manuelmitasch/ember-cli-rest-api-blueprint","language":"JavaScript","license":"MIT"},{"name":"pulsar-rest-api-client-node","downloads":{"last-day":0,"last-month":97,"last-week":10},"description":"pulsar-rest-api-client-node [![Build Status](https://travis-ci.org/cargomedia/pulsar-rest-api-client-node.svg?branch=master)](https://travis-ci.org/cargomedia/pulsar-rest-api-client-node) ===========================","url":"https://www.npmjs.com/package/pulsar-rest-api-client-node","repoUrl":"git+ssh://git@github.com/cargomedia/pulsar-rest-api-client-node","language":"JavaScript","license":"MIT"},{"name":"pulsar-rest-api","downloads":{"last-day":0,"last-month":160,"last-week":22},"description":"REST API for executing Pulsar tasks.","url":"https://www.npmjs.com/package/pulsar-rest-api","repoUrl":"git+ssh://git@github.com/cargomedia/pulsar-rest-api","language":"JavaScript","license":"MIT"},{"name":"git-rest-api","downloads":{"last-day":1,"last-month":137,"last-week":27},"description":"A library providing a restful Git API mimicking as most as possible the old good git","url":"https://www.npmjs.com/package/git-rest-api","repoUrl":"https://github.com/korya/node-git-rest-api","language":"JavaScript"}],"x-apih-organization":"public","meta":{"revision":0,"created":1495048571337,"version":0},"$loki":479}